SOURCE_URL: https://docs.pharos.xyz/node-and-validator-guide/validator-requirements
TITLE: Validator Requirements | docs.pharos.xyz
============================================================
To ensure a validator operates effectively and efficiently, the minimum recommended hardware specifications are:
Component
Specification
CPU
32 cores, 2.8GHz or faster, AMD Milan EPYC or Intel Xeon Platinum
Memory
256 GB
Storage
5 TB SSD with at least 350MiB/s bandwidth and 30000 IOPS
Network Bandwidth
0.5 Gbps
Open Files Limit
ulimit -n ≥ 10000000
Previous
Validator Accountability
Next
Validator Node Deployment
Last updated
2 months ago
Was this helpful?